In [28]:
# this is python
print("Hello, World!")

Hello, World!

In [29]:
# Writing Comments
# this is a comment

In [30]:
'''
This is a multi-line comment
'''
print("Hello") # this is also a comment

Hello

In [31]:
# What are Data types

'''
Data types example
Data Types Sample Value Description
Integer     5           Whole numbers
Float       5.7         Decimal numbers
Boolean     True        True or False values
string      "hello"     Characters within quotes
'''

'\nData types example\nData Types Sample Value Description\nInteger     5           Whole numbers\nFloat       5.7         Decimal numbers\nBoolean     True        True or False values\nstring      "hello"     Characters within quotes\n'

# The Print Statement

In [32]:
# the following are all integers
print(2)
print(10)

2
10

In [33]:
# the following are all floats
print(10.953)
print(8.0) # even this number is a float

10.953
8.0

In [34]:
# the following are booleans
print(True)
print(False)

True
False

In [35]:
# the following are strings
print(" ")
print("There's a snake in my boot!")

There's a snake in my boot!

In [36]:
type(3.14)

float

In [37]:
type("Hello World!!")

str

In [38]:
type(501)

int

In [39]:
type(8.33333)

float

In [40]:
student_name = "Colette Browning"
type(student_name)

str

In [41]:
type(16)

int

In [42]:
type("double quotes")

str

In [43]:
type('single quotes')

str

In [44]:
type("double quotes")

str

In [45]:
type("12")

str

In [46]:
type(12)

int

In [47]:
type(-12)

int

In [48]:
type(12.0)

float

In [49]:
type(1.55)

float

In [51]:
type('just for fun')

str

In [52]:
type(True)

bool

In [53]:
type(False)

bool

In [54]:
# printing an interger with python
print(420)

420

In [55]:
# printing a string made of integer (number) characters with python
print("2020")

2020

# Variables

*item_price

*student_name

In [57]:
current_msg = "I am a string"
print(current_msg)

I am a string

In [58]:
current_msg = "new current message"
print(current_msg)

new current message

In [59]:
student_name = "Alice"
print(student_name)

Alice

In [60]:
student_name = "Joan"
print(student_name)

Joan

In [61]:
name = "Joan Dias"
print(name)
test_value = 22
print(test_value)
test_value = "Joana"
print(test_value)

Joan Dias
22
Joana